body {
  font-family: "TT Lakes";
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
@font-face {
  font-family: "TT Lakes";
  src: url(fonts/TTLakes-Medium.ttf);
}

aside {
  position: fixed;
  min-width: 320px;
  width: 320px;
  height: 100%;

  background-color: #ffffff;
  margin: 0;

  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
    16px 0px 52px rgba(14, 24, 80, 0.2);

  overflow-y: auto;
}

.container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  list-style: none;
  margin-left: -40px;

  min-width: 320px;
  min-height: 88px;
  width: 320px;
  margin-top: 0;

  background-color: white;
}

.container__button-exit {
  display: block;
  width: 40px;
  height: 40px;
  border: 0;
  margin-top: 23px;
  margin-left: 24px;

  background: url(images/burger.png) no-repeat;
}

.container__button-company {
  display: block;
  width: 97px;
  height: 52px;
  margin-top: 18px;
  margin-left: 16px;

  background-image: url(images/Group.png);
}

.container__button-search {
  display: block;
  width: 40px;
  height: 40px;
  border: 0;
  margin-top: 23px;
  margin-right: 24px;
  margin-left: 78px;

  background: url(images/search.png) no-repeat;
}

/* МЕНЮ */
.container-menu {
  list-style: none;
  margin-left: -40px;
}
.container-menu li {
  margin-left: 24px;
  font-size: 16px;
  line-height: 24px;
  margin-top: 32px;
}
.container-menu li a {
  text-decoration: none;
  color: #000;
  position: relative;
}
.container-menu li a:focus {
  color: #7e7e82;
}
.container-menu li a:focus::before {
  content: "";
  display: block;
  width: 8px;
  height: 32px;
  position: absolute;
  top: -4px;
  left: -26px;
  border-radius: 4px;

  background-color: #41f6d7;
}

/* КОНТАКТЫ */
.container-contacts {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin-left: -40px;
  margin-top: 200px;
}

.container-contacts__call {
  display: block;
  width: 40px;
  height: 40px;
  margin-top: 23px;
  margin-left: 24px;

  background-image: url(images/chatcopy.png);
}
.container-contacts__chat {
  display: block;
  width: 40px;
  height: 40px;
  margin-top: 23px;
  margin-left: 16px;

  background-image: url(images/chat.png);
}
.container-contacts__profile {
  display: block;
  width: 40px;
  height: 40px;
  margin-top: 23px;
  margin-left: 16px;

  background-image: url(images/profile.png);
}

.container-contacts2 {
  margin-left: -40px;
  list-style: none;
}
.container-contacts2__mail {
  text-decoration: none;
  color: #1b1c21;
  font-size: 16px;
  margin-left: 24px;
  line-height: 24px;
}
.container-contacts2__tel {
  text-decoration: none;
  color: #1b1c21;
  margin-left: 24px;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
}
.container-contacts2 li:first-child {
  margin-bottom: 12px;
}

.container-contacts3 {
  margin-left: -40px;
  margin-top: 40px;
  list-style: none;
  display: flex;
  justify-content: flex-start;
}
.container-contacts3__button-ru {
  padding: 0;
  width: 25px;
  height: 24px;
  border: none;
  background-color: inherit;
  font-size: 16px;
  line-height: 24px;
  margin-right: 7px;
  margin-left: 24px;
}
.container-contacts3__button-en {
  padding: 0;
  width: 25px;
  height: 24px;
  border: none;
  background-color: inherit;
  font-size: 16px;
  line-height: 24px;
  margin-right: 7px;
}
.container-contacts3__button-ch {
  padding: 0;
  width: 25px;
  height: 24px;
  border: none;
  background-color: inherit;
  font-size: 16px;
  line-height: 24px;
}
.container-contacts3 li button:focus {
  color: #7e7e82;
}